.start {
  background-color: #cd7f32;
  border: .2em ridge #b87333;
  border-radius: .7em;
  color: #dbd1b4;
  cursor: pointer;
  font-size: 3em;
  text-align: center;
  padding: .2em .8em;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  place-self: center;
  user-select: none;
  z-index: 99;
}

.start.waiting-creator {
  cursor: default;
}

.start:active {
  background-color: #b7722f;
  border: 0.3em ridge #b87333;
  padding: .1em .7em;
}

.press-enter {
  display: block;
  font-size: .4em;
}
